<lasso-page name="home" package-path="./browser.json"/>
<!DOCTYPE html>
<html>
<head>
	<title>TODO App using marko widgets</title>
	<lasso-head/>
</head>
<body>
	<section id="todoapp">
		<h1>TODO Application</h1>
		<todo-list />
	</section>
	<lasso-body/>
	<init-widgets/>
	<browser-refresh/>
</body>
</html>